html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

h1{
	font-size: 3rem;
	margin-top: 6vh;
	margin-bottom: 3vh;
}

h1.welcome{
	font-size: 6vh;
	font-weight: normal;
}

h2{
	font-size: 22px;
	font-weight: normal;
	position: relative;
	padding-top: 22px;
}

*{
  font-family: 'Raleway', sans-serif;
}

.intro-header{
	font-size: 5.2817vh;
	font-weight: normal;
	color: #006699;
	margin-top: 4.3838vh;
	margin-bottom: 4.3838vh;
}

.login-button{
	background: #009900;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	height: 30px;
	padding-right: 30px;
}

.login-button-container{
	margin-top: -1.05vh;
}

.page {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  font-size: 17px;
  color: #1f1f21;
}
.page::-webkit-scrollbar {
  display: none;
}
.page__content {
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button--large--cta{
	background: #7aa701;
}

.small{
	font-size: 12px;
}

.center{
	text-align: center;
}

.content-section{
	padding: 30px;
	padding-top: 5.2817vh;
	padding-bottom: 5.2817vh;
	margin-top: -45px;
	clear: both;
}

.additional-info.content-section{
	padding-top: 3px
}

.content-section.info-section-2 .row{
	padding-bottom: 5px;
}

.content-section.home{
	font-size: 17px;
	line-height: 1.23em;
}

.content-section.home.slide1 .already{
	margin-top: 21.951vh;
}

.content-section.home.slide1 .intro-login{
	margin-top: -6px;
}

.content-section.home.slide2{
	margin-top: -6px;
}

.content-section.home.slide3{
	margin-top: -30px;
	width: auto;
}

.content-section.home, .content-section.login{
	margin-top: -16.725vh;
	text-align: center;
}

.info-section-2 span{
	margin-left: 5px;
	display: inline-block;
	width: 215px;
	float: none;
	margin-top: -1px;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

#prob_span{
	display: inline-block; 
	width: 215px; 
	float: none; 
	margin-top: -1px;
}

.info-needed {
	font-size: 13px;
	width: 276px;
	display: inline-block;
	margin-top: 10px;
	text-align: center;
}

.info-needed > div{
	width: 154px;
	text-align: left;
	margin-bottom: 2px;
	margin-left: 56px;
}

.info-needed > div > span{
	margin-left: 2px;
}

.check-mark-bg{
	width: 16.5px;
	float: left;
}

.check-mark{
	width: 13px;
	margin-top: 3px;
	float: left;
	padding-right: 12px;
	margin-left: -15px;
}

.content-section.prognosis{
	margin-top: -90px;
	font-size: 17px;
	line-height: 1.23em;
}

.index .swiper-slide .grey-header{
	width: 100%; 
	height: 21.4788vh; 
	background: #F4F4F4; 
	text-align: center;
}

.grey-header .waking{
	width: 15.5vh; 
	position: relative; 
	top: 4.9295vh;
}

.grey-header .add-info{
	width: 14.436vh; 
	position: relative; 
	top: 3.345vh;
}

.prognosis .swiper-slide {
	width: 260px;
}

.prog-header{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #006699;
}

.also-has{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-top: 13px;
	margin-bottom: 5px;
	color: #006699;
}

.controls-section .col{
	text-align: center;
}

.controls-section{
	padding: 30px;
	margin-top: -45px;
	clear: both;
}

.intro.slide3.controls-section{
	margin-top: 6vh;
	position: relative;
	width: 257px;
}

.create_parent_account.controls-section{
	position: absolute;
	width: 81%;
	bottom: -16px;
}

.login.controls-section{
	position: relative;
	bottom: -7vh;
	margin: 0;
}

.question.controls-section{
	bottom: 0px;
	position: fixed;
	width: 100%;
	padding: 0px;
	padding-bottom: 30px;
}

.intro.controls-section{
	position: relative;
	margin-top: 20px;
	display: inline-block;
}

.results.controls-section{
	position: relative;
	margin-top: 0px;
	height: 133px;
	margin-bottom: 20px;
}

.results.content-section{
	margin-top: -70px;
	text-align: center;
	font-size: 15px;
}

.additional-info.controls-section{
	margin-top: -5vh;
	padding-top: 6px;
	width: 100%;
	bottom: 0px;
	position: fixed;
	padding-left: 0px;
	padding-right: 0px;
}

.blue-top-bar{
	height: 40px;
	color: white;
	text-align: center;
	background: #006699;
}

.menu-toggle{
	width: 40px;
	position: absolute;
	margin-top: 4px;
}

.list__item{
	background-color: #E5EFF8;
	color: #006699;
	font-weight: bold;
}

.question-header{
	min-width: 319px;
	background: #eee;
	height: 98px;
	float: left;
	width: 100%;
}

.header-image{
	display: inline-block;
	width: 100px;
	height: 73px;	
	float: left;
}

.header-image img{
	max-height: 63px;
	max-width: 94px;
	margin: 30px;
	margin-top: 15px;
}

.header-text{
	font-size: 23px;
	float: left;
	clear: right;
	top: 30%;
	line-height: 19px;
	height: 42px;
	left: 42px;
	position: relative;
	max-width: 160px;
	font-weight: normal;
	margin: auto;
}

.question-progress{
	height: 5px;
	width: 215px;
}

.category_response_block{
	margin-left: -30px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: -30px;
}

.category_response_block.odd{
	background: #f4f4f4;
}

.category_image{
	width: 80px;
}

.category_response_block .category_image{
	margin-bottom: 20px;
}

.green_button_container{
	padding-top: 5px;
	padding-bottom: 5px;
}

.top_results_block{
	margin-top: 12px;
	margin-bottom: 12px;
}

.top_results_block div{
	margin-bottom: 8px;
}

/* IE10 */
progress {
    color: #006699;
    background-color: #006699;	
}

/* Firefox */
progress::-moz-progress-bar { 
    background: #006699;	
}

/* Chrome */
progress::-webkit-progress-value {
    background: #006699;
}

/* Polyfill */
progress[aria-valuenow]:before  {
    background: #006699;
}

.question.content-section{
	padding-top: 10px;
}

.question-block{
	margin-top: 5px;
}


.question-label{
	text-align: center;
	font-size: 25px;
	text-decoration: underline;
}

.question-text{
	font-size: 3.697vh;
	color: #006699;
	margin-top: 14px;
	text-align: center;
}

.round-button {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 50px;	
	border-radius: 50%;
	margin: auto;
	color: #f5f5f5;
	text-align: center;
	text-decoration: none;
	background: #006699;
	box-shadow: 0 0 3px gray;
	font-size: 20px;
	font-weight: normal;
}

.round-button.selected{
	background: #7aa701;
}

.round-button span.ng-scope{
	position: relative;
	top: 20px;
}

.progress_nub {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	margin-top: -9px;
	margin-left: -1px;
	top: 4px;
	left: 39%;
	border-radius: 50%;
	color: #f5f5f5;
	text-decoration: none;
	background: #006699;
	font-size: 20px;
}

.ui-progress-bar .ui-progress{
	position: relative;
	display: block;
	overflow: hidden;
	background: #006699;
	background-color: #006699;
	border: none;
}

.moon-back-container{
	width: 30.457vh;
	margin: auto;
	position: relative;
	margin-top: 7.394vh;
}

.logo-overlay-container{
	width: 43.662vh;
	margin: auto;
	position: relative;
	top: -21.654vh;
}

.moon-top{
	width: 28px;
	margin-top: 5px;
}

.profile-logo{
	width: 20%;
	float: left;
	height: 50px;
	max-width: 50px;
	position: relative;
}

.profile-logo img{
	width: 100%;
}

.profile-name{
	font-size: 24px; 
	float: left; 
	margin-left: 12px;
	clear: right;
	text-align: left;
	width: 65%;
}

.profile-quiz-link{
	display: inline-block;
	width: 205px;
}


.quiz-link{
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 12px;
	text-align: left;
	float: left;
	margin-bottom: 3px;
	line-height: 18px;
}

.quiz-list .quiz-link{
	float: none;
	display: inline-block;
	font-size: 14px;
	text-decoration: underline;
	color: #009900;
}

.taken-date.quiz-link{
	color: #ccc;
}

.new.quiz-link{
	background: #009900;
}

.profile-divider{
	width: 100%;
	height: 1px;
	clear: both;
	padding-bottom: 28px;
}

.profile-divider img{
	width: 100%;
	height: 1px;
}

.page-sub-header{
	text-align: center;
	margin-top: -5px;
	margin-bottom: 5px;
}

.positive-quest{
	text-align: left;
	color: #006699;
	margin-bottom: 6px;
}

.topcoat-button, .topcoat-button--large, .topcoat-button--cta,  .topcoat-button-bar__button{
	background-color: #006699;
}

.topcoat-button--large--cta{
	background-color: #72AD39; 
}

.topcoat-button--quiet{
	background-color: inherit;
}

/* start swiper css */
.index .pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 20vh;
  width: 100%;
}

.prognosis .pagination {
  bottom: 45px;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 14px;
  border: 2px solid #006699;
  box-shadow: 0px 1px 2px #006699 inset;
  margin: 0 8px;
  cursor: pointer;
  background: #fff;
}

.swiper-active-switch{
	background: #006699;
	opacity: 1;
}

.index.swiper-container {
  height: 100vh;
  width: 320px;
}

.prognosis.swiper-container {
  height: 228px;
  width: 260px;
}


/* end swiper css */


/* start slider css */

.banner li { list-style: none;  margin: 0px;  padding: 0px; }
.index.banner ul li {  float: left; height: 528px; } 
.prognosis.banner ul li {  float: left; height: 236px; margin-top: 2px; text-align: center;} 


.banner ul li p{
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 6px;
}


.banner ul{
	margin: 0px;  padding: 0px;
}
/* end slider css */   

@media (max-height: 481px) {   
	.banner ul li p{
		margin-bottom: 0px;
	}
	.intro.slide3.controls-section{
		margin-top: 3vh;
	}

	.login.controls-section{
		bottom: 1vh;
	}

	.checkbox{
		margin-top: 1vh;
	}

	.content-section.home.slide1 .already{
		margin-top: 19.951vh;
	}
}

@media (min-height: 569px) {  
	.content-section.home{
		font-size: 3vh;
	}

	.intro.slide3.controls-section{
		width: 83.315%;
		margin-top: 8vh;
	}
}
