<ons-page>
<div class="blue-top-bar">
 	<div class="menu-toggle" ng-click="app.menu.toggleMenu()">
 		<i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
 	</div>
	<div class="top-center-image"><img class="moon-top" src="img/moon-top.png"/></div>
</div>
<div class="question-header">
	<div class="header-image"><img  src="img/add-info.png"  /></div>
	<span class="header-text">ADDITIONAL INFORMATION</span>
</div>

	<form name="additionalInfoForm" ng-controller="AdditionalInfoController" ng-init="init2()">
	<section class="additional-info content-section info-section-2">
	
	<ons-row>
		<ons-col style="margin-top: 15px; padding-right: 48px; padding-left: 48px;" class="center">
			Select all that apply to the child

		</ons-col>
	</ons-row>

	<ons-row>
		<ons-col>
			<label class="checkbox" for="diff_conc">
			  <input type="checkbox" id="diff_conc" ng-model="diff_conc">
			  <div class="checkbox__checkmark"></div>
			  &nbsp;difficulty concentrating
			</label>
		</ons-col>
	</ons-row>

	<ons-row>
		<ons-col>
			<label class="checkbox" for="trouble_ss">
			  <input type="checkbox" id="trouble_ss" ng-model="trouble_ss">
			  <div class="checkbox__checkmark"></div>
			  &nbsp;trouble sitting still
			</label>
		</ons-col>
	</ons-row>

	<ons-row>
		<ons-col>
			<label class="checkbox">
			  <input id="prob_checkbox" type="checkbox" ng-model="probs_at_school">
			  <div class="checkbox__checkmark"></div>
			  <span id="prob_span">reported behavioral problems at school</span>
			</label>
		</ons-col>
	</ons-row>

	<ons-row>
		<ons-col>
			<label class="checkbox">
			  <input type="checkbox" ng-model="poor_perf">
			  <div class="checkbox__checkmark"></div>
			  &nbsp;poor performance in school
			</label>
		</ons-col>
	</ons-row>	

	<ons-row>
		<ons-col>
			<label class="checkbox">
			  <input type="checkbox" ng-model="tonsils_taken">
			  <div class="checkbox__checkmark"></div>
			  &nbsp;has had tonsils taken out
			</label>
		</ons-col>
	</ons-row>
	
	</section>

	<section class="additional-info controls-section">
		
		<ons-row>
			<ons-col style="margin-right: 5px;">
				<ons-button class="round-button" type="large" ng-click="submitForm2()">
		            Next
		        </ons-button>
			</ons-col>
		</ons-row>
		
	</section>
	
	

	</form>

</ons-page>