<ons-page>
<div class="blue-top-bar">
 	<div class="menu-toggle" ng-click="app.menu.toggleMenu()">
 		<i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
 	</div>
	<div class="top-center-image"><img class="moon-top" src="img/moon-top.png"/></div>
</div>
<div class="question-header">
	<div class="header-image"><img  src="img/add-info.png"  /></div>
	<span class="header-text">ADDITIONAL INFORMATION</span>
</div>

	
	<form name="additionalInfoForm" ng-controller="AdditionalInfoController" ng-init="init1()">
	<section class="additional-info content-section">

	<div class="form-message" style="font-size: 14.5px; margin-bottom: 10px; text-align: center; color: {{ form_message_color }}">{{ form_message }}</div>

	<ons-row>
		<ons-col style="margin-top: 10px;" width="118px">
			<label style="float: left; margin-top: 8px;">Child's Height</label>
		</ons-col>	
		<ons-col style="margin-top: 10px; margin-left: -4px;" width="65px">		
			<select class="text-input" ng-model="additionalInfoForm.height.feet" required >	      
		      <option value="2">2</option>
		      <option value="3">3</option>
		      <option value="4">4</option>
		      <option value="5">5</option>
		      <option value="6">6</option>
		      <option value="7">7</option>
		    </select>
		    <span>ft.</span>
		</ons-col>
		<ons-col style="margin-top: 10px;" width="78px">
			<select class="text-input" ng-model="additionalInfoForm.height.inches">		      
		      <option value="1">1</option>
		      <option value="2">2</option>
		      <option value="3">3</option>
		      <option value="4">4</option>
		      <option value="5">5</option>
		      <option value="6">6</option>
		      <option value="7">7</option>
		      <option value="8">8</option>
		      <option value="9">9</option>
		      <option value="10">10</option>
		      <option value="11">11</option>
		      <option value="12">12</option>
		      <option value="13">13</option>
		      <option value="14">14</option>
		      <option value="15">15</option>		      
		    </select>
		    <span>in.</span>
	        
		</ons-col>
	</ons-row>

	<ons-row>
		<ons-col style="margin-top: 10px;" width="118px">
			<label style="float: left; margin-top: 8px;">Child's Weight</label>
		</ons-col>
		<ons-col style="margin-top: 10px; margin-left: -4px;" width="127px">
			<input class="text-input"  
				inputmode="numeric" pattern="[0-9]*" 
	            ng-model="additionalInfoForm.weight" 
	            style="display: inline-block; width: 64%; margin-left: 4px; float: left;" required />
	        <span style="margin-top: 5px; margin-left: 3px;">lbs.</span>
		</ons-col>		
	</ons-row>			

	<ons-row style="margin-top: 6px;">
		<ons-col style="margin-top: 10px;" width="118px">
			<label style="float: left;">Neck Size</label>
		</ons-col>
		<ons-col style="margin-top: 10px;">		
			<select class="text-input" ng-model="additionalInfoForm.neck_size" style="width: 99%" required >	      
		      <option value="dont_know">don't know</option>
		      <option value="8">8</option>
		      <option value="8.5">8.5</option>
		      <option value="9">9</option>
		      <option value="9.5">9.5</option>
		      <option value="10">10</option>
		      <option value="10.5">10.5</option>
		      <option value="11">11</option>
		      <option value="11.5">11.5</option>
		      <option value="12">12</option>
		      <option value="12.5">12.5</option>
		      <option value="13">13</option>
		      <option value="13.5">13.5</option>
		      <option value="14">14</option>
		      <option value="14.5">14.5</option>
		      <option value="15">15</option>
		      <option value="15.5">15.5</option>
		      <option value="16">16</option>
		      <option value="16.5">16.5</option>
		      <option value="17">17</option>
		      <option value="17.5">17.5</option>
		      <option value="18">18</option>
		      <option value="18.5">18.5</option>
		      <option value="19">19</option>
		      <option value="19.5">19.5</option>
		      <option value="20">20</option>
		      <option value="20.5">20.5</option>
		      <option value="21">21</option>
		      <option value="21.5">21.5</option>
		      <option value="22">22</option>
		      <option value="22.5">22.5</option>
		      <option value="22">23</option>
		      <option value="23.5">23.5</option>
		      <option value="24">24</option>
		      <option value="24.5">24.5</option>
		      <option value="25">25</option>
		      <option value="25.5">25.5</option>
		    </select>
	        
		</ons-col>
	</ons-row>

	</section>

	<section class="additional-info controls-section">
		
		<ons-row>
			<ons-col style="margin-right: 5px;">
				<ons-button class="round-button" type="large" ng-click="submitForm1()">
		            Next
		        </ons-button>
			</ons-col>
		</ons-row>
		
	</section>
	
	

	</form>

</ons-page>