<ons-page>
<div class="blue-top-bar">
 	<div class="menu-toggle" ng-click="app.menu.toggleMenu()">
 		<i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
 	</div>
	<div class="top-center-image"><img class="moon-top" src="img/moon-top.png"/></div>
</div>
<div class="question-header">
	<div class="header-image"><img  src="img/add-info.png"  /></div>
	<span class="header-text">ADDITIONAL INFORMATION</span>
</div>

	<form name="additionalInfoForm" ng-controller="AdditionalInfoController" ng-init="init3()">
	<section class="additional-info content-section">

	<div class="form-message" style="font-size: 14.5px; margin-bottom: 10px; text-align: center; color: {{ form_message_color }}">{{ form_message }}</div>

	<ons-row style="margin-top: 5px;">
		<ons-col style="margin-top: 15px;">
			<input class="text-input"  
	            ng-model="additionalInfoForm.doc_name"	            
	            placeholder="Doctor's Name" 
	            style="display: block; width: 100%" required />
		</ons-col>
	</ons-row>

	<ons-row style="margin-top: 5px;">
		<ons-col style="margin-top: 15px;">
			<input class="text-input" 
	            ng-model="additionalInfoForm.doc_address"
	            placeholder="Address" 
	            style="display: block; width: 100%" required />
		</ons-col>
	</ons-row>	

	<ons-row style="margin-top: 5px;">
		<ons-col style="margin-top: 15px;">
			<input class="text-input" 
	            ng-model="additionalInfoForm.doc_city"
	            placeholder="City" 
	            style="display: block; width: 100%" required />
		</ons-col>
	</ons-row>	

	<ons-row style="margin-top: 5px;">
		<ons-col style="margin-top: 6px;">
	        <ons-col style="margin-top: 10px; min-width: 118px;" >
				<label style="float: left; margin-top: 8px; margin-right: 4px;">State</label>
			</ons-col>

			<ons-col style="margin-top: 10px; min-width: 118px;" >
	        <select class="text-input" ng-model="additionalInfoForm.doc_state" style="width: 82%" required>	
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DE">Delaware</option>
				<option value="DC">District Of Columbia</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="KS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="RI">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>
			</ons-col>

		</ons-col>
	</ons-row>

	</section>

	<section class="controls-section">
		<ons-button modifier="large" ng-click="submitForm3()">Submit</ons-button> 
	</section>
	
	

	</form>

</ons-page>