<ons-page>
<div class="blue-top-bar">
	<div class="top-center-image"><img class="moon-top" src="img/moon-top.png" /></div>
</div>
	
	<form name="accountForm" ng-controller="AccountController">
	<section class="content-section">
	<h2 class="center">Create Parent Account</h2>
	
	<div class="form-message" style="font-size: 14.5px; margin-bottom: 10px; padding: 0px 16px 0px 16px; text-align: center; color: {{ form_message_color }}">{{ form_message }}</div>

	<div>

	    <input class="text-input" 
	    	ng-model="accountForm.first_name"
	        style="display: block; width: 100%; " placeholder="First Name" required />
	    <br />
		
		<input class="text-input" 
	        ng-model="accountForm.last_name"
	        style="display: block; width: 100%" placeholder="Last Name" required />
	    <br />  

		<input class="text-input" 
	        ng-model="accountForm.email"
	        style="display: block; width: 100%" placeholder="Email" required />
	    <br /> 

		<input class="text-input" 
	        ng-model="accountForm.password"
	        style="display: block; width: 100%" placeholder="Password" 
	        autocorrect="off" autocapitalize="off" 
	        required />
	    <br />
    </div>              
	
	</section>

	<section class="create_parent_account controls-section">
		<ons-button 
			ng-click="submit()" modifier="large">
			Submit
		</ons-button>
		
		<div ons-if-orientation="portrait">
			<ons-row class="center">
				<ons-col style="padding: 10px;"><p style="margin: 7px 0px 0px 0px;" class="small">Already have an account?</p></ons-col>
			</ons-row>
			<ons-row class="center" style="display: inherit;">
				<ons-button style="margin-top: 2vh" modifier="small" class="login-button small" ng-click="loadLogin()">
                    <span style="border-bottom: 1px solid white;">Login</span></ons-button>
			</ons-row>
		</div>
	</section>
	</form>

</ons-page>