<ons-page>
<div class="blue-top-bar">
	<div class="menu-toggle" ng-click="app.menu.toggleMenu()">
 		<i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
 	</div>
	<div class="top-center-image"><img class="moon-top" src="img/moon-top.png" /></div>
</div>

	<form name="profileForm" ng-controller="ProfileController">
	<section class="content-section">
	<h2 class="center">Create Profile</h2>

	<ons-row class="center">
		<ons-col style="padding-bottom: 10px;">Tell us a little bit about your child.</ons-col>
	</ons-row>

	<div class="form-message" style="font-size: 14.5px; margin-bottom: 10px; text-align: center; color: {{ form_message_color }}">{{ form_message }}</div>
	
	<label>First Name</label>
	<input class="text-input" 
        ng-model="profileForm.child_name"
        style="display: block; width: 100%;" required /> 
    <br />

	<label>Last Name</label>
	<input class="text-input" 
        ng-model="profileForm.child_last_name"
        style="display: block; width: 100%;" required /> 
    <br />    

	<label>Child's Date of Birth</label>
	<input class="text-input" 
        ng-model="profileForm.dob"
        type="date" 
        style="display: block; width: 100%;" required /> 
    <br />

	<label>Child's Gender</label>
    <select class="text-input" ng-model="profileForm.gender" style="width: 100%" required>	      
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>

    <br />                   
	
	</section>

	<section class="controls-section">
		<ons-button 
			ng-click="submit()" modifier="large">
			Next
		</ons-button>
	</section>
	</form>

</ons-page>