<ons-page>
	<div class="blue-top-bar">
		<div class="menu-toggle" ng-click="app.menu.toggleMenu()">
	 		<i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
	 	</div>
		<div class="top-center-image"><img class="moon-top" src="img/moon-top.png" /></div>
	</div>

		<ons-scroller style="height: 528px; width: 100%">
	
		<div class="moon-back-container"><img src="img/moon-back.png" style="width: 100%" /></div>
	  	<div class="logo-overlay-container"><img src="img/logo-overlay.png" style="width: 100%" /></div>	
		<form ng-controller="EmailResultsController">
			
			<section class="results content-section">
				<h3>Results Sent</h3>
			</section>
			<section class="results controls-section">
			  <div>
			  	<ons-button modifier="large" ng-click="ons.navigator.resetToPage('profile_list.html')">Start Over</ons-button> 
			  </div>    
		    </section>

		</form>
		
		</ons-scroller>

</ons-page>