<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/ui-progress-bar.css"/>
  <link rel="stylesheet" href="styles/idangerous.swiper.css">

  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/app.css"/>
  
  <script src="lib/onsen/js/angular/angular.js"></script>
  <script src="js/angular-cookies.js"></script>
  <script src="lib/onsen/js/angular/angular-touch.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>  
  <script src="js/SeXHR.min.js"></script>
  <script src='js/iscroll.js'></script> 
  <script src="js/ng-iscroll.js"></script>   
  <script src="js/app.js"></script> 
  <script src="js/jquery.min.js"></script>

  <script defer src="js/idangerous.swiper.min.js"></script>

  <link rel="stylesheet" media="(orientation: landscape)" href="styles/landscape.css" />
</head>
<script type="text/javascript">
  ons.ready(function() {
    });


  $(document).ready(function(){

    $(function() {
      $(document).on('click', 'span#prob_span', function() {
        $("input#prob_checkbox").trigger('click');
      });
      $(document).on('click', '.checkbox__checkmark, .info-section-2 label, .info-section-2 input', function() {
        $(this).find("input").trigger('click');
      });
    });

    $(function(){
      var indexSwiper = $('.banner.index').swiper({
        //Your options here:
        slideElement: 'li',
        mode:'horizontal',
        loop: false,
        pagination: '.index .pagination',
        paginationElement: 'div',
        paginationClickable: true,
        createPagination : true
        //etc..
      });
    });
  });
</script>

<body>    
  
<ons-sliding-menu var="app.menu" main-page="intro.html" swipable="false" menu-page="menu.html" max-slide-distance="222px" type="reveal" side="left">

</ons-sliding-menu>

<ons-template id="intro.html">
  <ons-page>
    <ons-screen>
    <ons-navigator hide-toolbar="true">        

        <div class="index center" ng-controller="IndexController">
          <div class="blue-top-bar">
            <div class="top-center-image"><img class="moon-top" src="img/moon-top.png" /></div>
          </div>
          <div class="banner index swiper-container" style="width: 100%">
              <ul class="swiper-wrapper">
                  <li class="swiper-slide">
                    <div class="moon-back-container"><img src="img/moon-back.png" style="width: 100%" /></div>
                    <div class="logo-overlay-container"><img src="img/logo-overlay.png" style="width: 100%" /></div>


        
                    <section class="content-section home slide1">
                      <h1 class="welcome">Welcome</h1>
                      <p>Swipe through to learn more about SnorKid.</p>
                      <p class="small already">Already have an account?</p>
                      <p class="small login-button-container">
                        <ons-button modifier="small" class="login-button small" ng-click="ons.navigator.pushPage('login.html')">
                        <span style="border-bottom: 1px solid white;">Login</span></ons-button>
                      </p>
                    </section>
                    
                    
                  </li>
                  <li class="swiper-slide">
                    <div class="grey-header">
                      <div style="position: relative;
margin-left: -332px;">
                        <img src="img/kid-circle.png" style="width: 75px;
position: absolute;
top: 15px;
margin-left: 97px;" />
                     <img src="img/kid-circle.png" style="width: 75px;
position: absolute;
top: 33px;
margin-left: 157px;" />
                     <img src="img/blue-boy.png" style="width: 40px;
position: absolute;
top: 29px;
margin-left: 114px;" />
                     <img src="img/blue-girl.png" style="width: 55px;
position: absolute;
top: 48px;
margin-left: 166px;" />
                        
                      </div>
                      
                     </div>
                     
                     <section class="content-section home slide2">
                      <h1 class="intro-header">What is SnorKid?</h1>
                      <p>The SnorKid quiz is a quick, easy way to tell if your child is at risk for sleep apnea, a serious
                      condition that can affect your child's health, mental function and behavior.</p>          
                    </section>
                  </li>
                  <li class="swiper-slide">
                     <div class="grey-header">
                       <img src="img/waking.png" class="waking" />
                     </div>
                     
                     <section class="content-section home slide3">

                      <h1 class="intro-header">Info Needed</h1>
                      <p>Please have the following information handy before starting the quiz:</p>
                      <div class="info-needed">
                        <div>
                          <img class="check-mark-bg" src="img/check-mark-bg.png" />
                          <img class="check-mark" src="img/check-mark.png" />
                          <span>Child's height</span>
                        </div>
                        <div>
                          <img class="check-mark-bg" src="img/check-mark-bg.png" />
                          <img class="check-mark" src="img/check-mark.png" />
                          <span>Weight</span>
                        </div>
                        <div>
                          <img class="check-mark-bg" src="img/check-mark-bg.png" />
                          <img class="check-mark" src="img/check-mark.png" />
                          <span>Neck size (if known)</span>
                        </div>
                        <div>
                          <img class="check-mark-bg" src="img/check-mark-bg.png" />
                          <img class="check-mark" src="img/check-mark.png" />
                          <span>Birthdate</span>
                        </div>
                        <div>
                          <img class="check-mark-bg" src="img/check-mark-bg.png" />
                          <img class="check-mark" src="img/check-mark.png" />
                          <div style="margin-left: 27px;">Name &amp; address of your child's doctor</div>
                        </div>
                      </div>
                    </section>
                  </li>
                  <li class="swiper-slide">
                     <div class="grey-header">
                       <img src="img/add-info.png" class="add-info" />
                     </div>
                     
                     <section class="content-section home slide3">

                      <h1 class="intro-header">The Results</h1>
                      <p>Results are provided at the end of the test and stored for review.</p>
                      <p>This information is only accessible to you and your doctor.</p>
                      <p>Use this app every 3 months to provide an early alert is sleep apnea signs return.</p>
                      
                      
                    </section>
                    <section class="intro slide3 controls-section">
                       <ons-button modifier="large" ng-click="ons.navigator.pushPage('create_parent_account.html')">Get Started</ons-button>
                    </section>
                  </li>

                            
              </ul>
              <div class="pagination"></div>        
          </div>
            
          

          
          
        </div>

    </ons-navigator>
  </ons-screen>
  </ons-page>
</ons-template>

<ons-template id="menu.html">
  <!-- menu page's contents -->
  <ons-page style="background-color: #E5EFF8">

    <ul class="list">
      <li class="list__item">
        <span class="list__item__line-height" onclick="app.menu.close(function(){ons.navigator.resetToPage('my_account.html')})">My Account</span>
      </li>
      <li class="list__item">
        <span class="list__item__line-height" onclick="app.menu.close(function(){ons.navigator.resetToPage('profile_list.html')})">Child Profiles</span>
      </li>
      <li class="list__item">
        <span class="list__item__line-height" onclick="app.menu.close(function(){ons.navigator.resetToPage('logout.html')})">Logout</span>
      </li>
    </ul>

  </ons-page>

</ons-template>
 
</body>
</html>
