<ons-screen>
  <ons-navigator hide-toolbar="true">        

      <div class="index center" ng-controller="IndexController">
        <div class="blue-top-bar">
          <div class="top-center-image"><img class="moon-top" src="img/moon-top.png" /></div>
        </div>
        <div class="banner index swiper-container" ng-swipe-left="nextSlide()" ng-swipe-right="prevSlide()"  style="width: 100%">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <div class="moon-back-container"><img src="img/moon-back.png" style="width: 100%" /></div>
                  <div class="logo-overlay-container"><img src="img/logo-overlay.png" style="width: 100%" /></div>


      
                  <section class="content-section home slide1">
                    <h1 class="welcome">Welcome</h1>
                    <p>Swipe through to learn more about SnorKid.</p>
                    <p class="small" style="margin-top: 119px;">Already have an account?</p>
                    <p class="small" style="margin-top: -6px;">
                      <ons-button modifier="small--cta" ng-click="ons.navigator.pushPage('login.html')">Login</ons-button>
                    </p>

                  </section>
                  
                  
                </li>
                <li class="swiper-slide">
                  <div style="width: 100%; height: 122px; background: #F4F4F4; text-align: center;">
                    <div style="position: relative;
margin-left: -332px;">
                      <img src="img/kid-circle.png" style="width: 75px;
position: absolute;
top: 15px;
margin-left: 97px;" />
                   <img src="img/kid-circle.png" style="width: 75px;
position: absolute;
top: 33px;
margin-left: 157px;" />
                   <img src="img/blue-boy.png" style="width: 40px;
position: absolute;
top: 29px;
margin-left: 114px;" />
                   <img src="img/blue-girl.png" style="width: 55px;
position: absolute;
top: 48px;
margin-left: 166px;" />
                      
                    </div>
                    
                   </div>
                   
                   <section class="content-section home slide2">
                    <h1 class="intro-header">What is SnorKid?</h1>
                    <p>The SnorKid quiz is a quick, easy way to tell if your child is at risk for sleep apnea, a serious
                    condition that can affect your child's health, mental function and behavior.</p>          
                  </section>
                </li>
                <li class="swiper-slide">
                   <div style="width: 100%; height: 122px; background: #F4F4F4; text-align: center;">
                     <img src="img/waking.png" style="width: 86px; position: relative; top: 28px;" />
                   </div>
                   
                   <section class="content-section home slide3">

                    <h1 class="intro-header">Info Needed</h1>
                    <p>Please have the following information handy before starting the quiz:</p>
                    <div class="info-needed">
                      <div>
                        <img class="check-mark-bg" src="img/check-mark-bg.png" />
                        <img class="check-mark" src="img/check-mark.png" />
                        <span>Child's height</span>
                      </div>
                      <div>
                        <img class="check-mark-bg" src="img/check-mark-bg.png" />
                        <img class="check-mark" src="img/check-mark.png" />
                        <span>Weight</span>
                      </div>
                      <div>
                        <img class="check-mark-bg" src="img/check-mark-bg.png" />
                        <img class="check-mark" src="img/check-mark.png" />
                        <span>Neck size (if known)</span>
                      </div>
                      <div>
                        <img class="check-mark-bg" src="img/check-mark-bg.png" />
                        <img class="check-mark" src="img/check-mark.png" />
                        <span>Birthdate</span>
                      </div>
                      <div>
                        <img class="check-mark-bg" src="img/check-mark-bg.png" />
                        <img class="check-mark" src="img/check-mark.png" />
                        <div style="margin-left: 27px;">Name &amp; address of your child's doctor</div>
                      </div>
                    </div>
                  </section>
                </li>
                <li class="swiper-slide">
                   <div style="width: 100%; height: 122px; background: #F4F4F4; text-align: center;">
                     <img src="img/add-info.png" style="width: 82px; position: relative; top: 19px;" />
                   </div>
                   
                   <section class="content-section home slide3">

                    <h1 class="intro-header">The Results</h1>
                    <p>Results are provided at the end of the test and stored for review.</p>
                    <p>This information is only accessible to you and your doctor (with your permission).</p>
                    <p>Regular use of this app can provide an early alert if sleep apnea signs return.</p>
                    
                    
                  </section>
                  <section class="controls-section" style="margin-top: 32px">
                     <ons-button modifier="large" ng-click="ons.navigator.pushPage('create_parent_account.html')">Get Started</ons-button>
                  </section>
                </li>                  
            </ul>
        </div>
          
        

        
        
      </div>

  </ons-navigator>
</ons-screen>