<ons-page>

	<form name="loginForm" ng-controller="LoginController" data-ng-init="init()">
	
	<div class="moon-back-container"><img src="img/moon-back.png" style="width: 100%" /></div>
  	<div class="logo-overlay-container"><img src="img/logo-overlay.png" style="width: 100%" /></div>

	<section class="content-section home">
	
	<ons-row class="center">
		<ons-col style="padding: 10px; font-size: 20px;">Login</ons-col>
	</ons-row>
	<div class="form-message" style="font-size: 14.5px; margin-bottom: 10px; text-align: center; color: {{ form_message_color }}">{{ form_message }}</div>
	
	
	<input class="text-input" autocapitalize="off" 
        ng-model="loginForm.username" 
        placeholder="Email Address"
        style="display: block; width: 100%; font-size: 24px; height: 40px;" required />
    <br />

	<input class="text-input" autocapitalize="off" type="password" 
        ng-model="loginForm.password" 
        placeholder="Password"
        style="display: block; width: 100%; font-size: 24px; height: 40px;" required />
    <br />  

	
	</section>

	<section class="login controls-section">
		<ons-button 
			ng-click="submit();" modifier="large" should-spin="{{spin}}" animation="slide-up">
			Submit
		</ons-button>

		<div ons-if-orientation="portrait">
			<ons-row class="center">
				<ons-col><p style="font-size: 12px; padding: 5px; ">Need help logging in? <a href="#" style="color: #006699; text-decoration: underline" ng-click="resetPassword()" >reset your password</a></p></ons-col>
			</ons-row>
		</div>
		
	</section>

	</form>

</ons-page>