<ons-page>

	<form name="loginForm" ng-controller="LogoutController" data-ng-init="init()">
	
	<div class="moon-back-container"><img src="img/moon-back.png" style="width: 100%" /></div>
  	<div class="logo-overlay-container"><img src="img/logo-overlay.png" style="width: 100%" /></div>

	<section class="content-section home">
	
	<ons-row class="center">
		<ons-col style="padding: 10px; font-size: 20px;">Login</ons-col>
	</ons-row>
	<div class="form-message" style="font-size: 14.5px; margin-bottom: 10px; text-align: center; color: {{ form_message_color }}">{{ form_message }}</div>
	


	
	</section>


	</form>

</ons-page>