<!-- menu page's contents -->
<ons-page style="background-color: white">

	<ul class="topcoat-list">

		<ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('page1.html')">
			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Page 1
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('page2.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Page 2
		</ons-list-item>

	</ul>

</ons-page>
