<ons-page>
<div class="blue-top-bar">
	<div class="menu-toggle" ng-click="app.menu.toggleMenu()">
 		<i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
 	</div>
	<div class="top-center-image"><img class="moon-top" src="img/moon-top.png" /></div>
</div>
	
	<form name="accountForm" ng-controller="MyAccountController">
	<section class="content-section">
	<h2 class="center">Edit Account</h2>
	
	<div class="form-message" style="font-size: 14.5px; margin-bottom: 10px; padding: 0px 16px 0px 16px; text-align: center; color: {{ form_message_color }}">{{ form_message }}</div>

	<div>

	    <input class="text-input" 
	    	ng-model="accountForm.first_name"
	        style="display: block; width: 100%;" placeholder="First Name" required />
	    <br />
		
		<input class="text-input" 
	        ng-model="accountForm.last_name"
	        style="display: block; width: 100%" placeholder="Last Name" required />
	    <br />  

		<input class="text-input" 
	        ng-model="accountForm.email"
	        style="display: block; width: 100%" placeholder="Email" required />
	    <br /> 

		<input class="text-input" 
	        ng-model="accountForm.password"
	        style="display: block; width: 100%" placeholder="New Password"  />
	    <br />    

		<input class="text-input" 
	        ng-model="accountForm.password_confirm"
	        style="display: block; width: 100%" placeholder="Confirm New Password" data-match="accountForm.password"  />	        
	    <br />
    </div>              
	
	</section>

	<section class="controls-section" style="margin-top: 72px">
		<ons-button 
			ng-click="submit()" modifier="large">
			Submit
		</ons-button>
	</section>
	</form>

</ons-page>