<ons-page>
	<div class="blue-top-bar">
		<div class="menu-toggle" ng-click="app.menu.toggleMenu()">
	 		<i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
	 	</div>
		<div class="top-center-image"><img class="moon-top" src="img/moon-top.png" /></div>
	</div>	
	<form ng-controller="QuizListController">
	<section class="content-section">
	<h2 class="center">All Results</h2>

	<ons-scroller style="height: 94vh; width: 100%">
	<div class="quiz-list" ng-repeat="quiz in quizzes">
		<ons-row class="center">
			<div style="width: 80%;
			margin-left: 10%; 
			color: #ccc;
			margin-bottom: 9px;
			background-color: #fff;
			min-height: 50px;">
			<div class="previous quiz-link" ng-click="loadQuestion({{ quiz.profile_id }},{{ quiz.id }},1)">View Results</div>
			<div class="taken-date quiz-link" style="text-decoration: none;">{{ quiz.date }}</div>
			<div class="profile-divider"><img src="img/profile-divider.png" /></div>
			</div>
		</ons-row>
	</div>
	</ons-scroller>
	

	</form>

</ons-page>