<ons-page>
	<div class="blue-top-bar">
	 	<div class="menu-toggle" ng-click="app.menu.toggleMenu()">
	 		<i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
	 	</div>
		<div class="top-center-image"><img class="moon-top" src="img/moon-top.png" /></div>
	</div>	
	<form ng-controller="ProfileListController">
	
		<section class="content-section" style="padding-bottom: 0px;">
		<h2 class="center">Choose Profile</h2>

		<ons-scroller class="profile_scroller" style="height: {{ scroller_height }}px; width: 100%">

		<div ng-repeat="profile in profiles">
			<ons-row class="center">
				<div style="width: 100%;
				color: #ccc;
				margin-bottom: 9px;
				background-color: #fff;
				min-height: 50px;">
				<div class="profile-logo">
					<img src="img/kid-circle.png" style="width: 50px;
					position: absolute;
					top: 0px;
					left: 0px;" />

					<img ng-if="profile.gender == 'female'" src="img/blue-girl.png" style="width: 38px;
					position: absolute;
					top: 8px;
					left: 6px;" />

					<img ng-if="profile.gender == 'male'" src="img/blue-boy.png" style="width: 29px;
					position: absolute;
					top: 6px;
					left: 10px;" />
					
				</div>
				<div class="profile-name">{{ profile.name }}</div>
				<div class="profile-quiz-link">
					<ons-button class="previous quiz-link" style="font-size: 14px" ng-click="loadQuizzes({{ profile.id }})">
					Previous Answers</ons-button>
					<ons-button class="new quiz-link" style="font-size: 14px" ng-click="loadNewQuiz({{ profile.id }})">
					Answer New Survey</ons-button>
				</div>
				<div class="profile-divider"><img src="img/profile-divider.png" /></div>
				</div>
			</ons-row>
		</div>

		<ons-row class="center">
			<div style="width: 100%;
			color: #ccc;
			margin-bottom: 9px;
			background-color: #fff;
			min-height: 50px;">
			<i class="fa fa-user"></i>		
			<span style="font-size: 24px" ng-click="ons.navigator.pushPage('create_profile.html')">New Profile</span>
			</div>
		</ons-row>
		
		</ons-scroller>

		</section>

	</form>

</ons-page>