<ons-page>

	<div class="center" ng-controller="PrognosisController">
		<div class="moon-back-container"><img src="img/moon-back.png" style="width: 100%" /></div>
      	<div class="logo-overlay-container"><img src="img/logo-overlay.png" style="width: 100%" /></div>
		<section class="content-section prognosis" ng-show="prognosis == 'positive'">
			<div class="prog-header">POSITIVE</div>
		    <div class="banner positive prognosis swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <div> 
                    Your answers to the SnorKid quiz suggest a high likelihood that your child has sleep apnea. 
                    Please consult with your doctor to confirm a diagnosis and discuss appropriate treatment options. 
                    Repeat the quiz every 3 months to monitor symptoms.
                  </div>                  
                </li>
                <li class="swiper-slide">
                   <div> 
                    Test results are dated and stored in the app and in a password protected cloud site that you or 
                    your doctor can access. Please share these results with your doctor.
                  </div>
                </li>  

            </ul>
            <div class="pagination" style="bottom: 0px;
position: absolute;
width: 100%;
text-align: center;"></div>  
            
        </div>
		    
		</section>
		<section class="content-section prognosis" ng-show="prognosis == 'negative'">
			<div class="prog-header">NEGATIVE</div>
        <div class="banner negative prognosis swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <div> 
                    Your answers to the SnorKid quiz suggest that your child is not at risk for sleep apnea at this time. 
                    However, you should consult your doctor if you have questions about symptoms. 
                    Repeat the SnorKid quiz every 3 months or when symptoms appear.
                  </div>                  
                </li>
                <li class="swiper-slide">
                   <div> 
                    If your child has already had tonsil &amp; adenoid surgery, sleep apnea can recur.
                    Taking the SnorKid quiz every 3 months can provide an early warning for your doctor if symptoms return.
                  </div>
                </li>   
                <li class="swiper-slide">
                   <div> 
                    Test results are dated and stored in the app and in a password protected cloud site that you or your 
                    doctor can access. Please share these results with your doctor.
                  </div>
                </li>                            
            </ul>
            <div class="pagination" style="bottom: 0px;
position: absolute;
width: 100%;
text-align: center;"></div>

        </div>
		    
		</section>

    <section class="controls-section">
      <ons-button modifier="large" ng-click="ons.navigator.pushPage('results.html')">See Results</ons-button> 
    </section>
	</div>
	

</ons-page>