<ons-page ng-controller="QuestionController">
<div class="blue-top-bar">
 	<div class="menu-toggle" ng-click="app.menu.toggleMenu()">
 		<i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
 	</div>
	<div class="top-center-image"><img class="moon-top" src="img/moon-top.png"/></div>
</div>
<div class="question-header">
	<div class="header-image"><img ng-if="(category_image.length > 0)" ng-src="{{ category_image }}"  /></div>
	<span class="header-text">{{ category_name }}</span>
</div>
	
	<section class="question content-section">
	
		<div class="question-block">
			<div class="question-label">Question {{ sequence }}</div>
			<div class="question-text">{{ question_text }}</div>
		</div>
	
	</section>

	<section class="question controls-section">
		<ons-row>
			<ons-col style="margin-right: 5px;" >
				<ons-button class="round-button" type="large" ng-class="{true: 'selected', false: 'inactive'}[response=='yes']" ng-click="answerQuestion('yes', {{ question_id }})">
		            Yes
		        </ons-button>
			</ons-col>
			<ons-col style="margin-left: 5px;" >
				<ons-button class="round-button" type="large" ng-class="{true: 'selected', false: 'inactive'}[response=='no']" ng-click="answerQuestion('no', {{ question_id }})">
		            No
		        </ons-button>
			</ons-col>
		</ons-row>

		<ons-row style="padding-top: 6px; padding-bottom: 6px;">
			<ons-col style="margin-top: 5px; text-align: center;">
				<ons-button 
					ng-click="ons.navigator.popPage()" modifier="quiet">
					Back
				</ons-button>
			</ons-col>
			
			<ons-col style="margin-top: 5px; text-align: center;" ng-show="!unanswered">
				<ons-button  
					ng-click="loadQuestion( {{ profile_id }}, {{ next_sequence }} )" modifier="quiet">
					Next
				</ons-button>
			</ons-col>

		</ons-row>

		<ons-row>
			<ons-col style="margin-top: 5px; text-align: center;">
			<div class="ui-progress-bar ui-container" style="margin-left: 10%; margin-right: 10%;" id="progress_bar">
				<div class="ui-progress" style="width: {{ percentage }}%;">
				  <span class="ui-label" style="display: none;">Completed</span>
				</div>
				<div class="progress_nub" style="left: {{ percentage }}%"></div>
			</div>
			</ons-col>
		</ons-row>	

		<ons-row style="height: 15px; margin-top: 10px;">
			<ons-col style="margin-top: 5px; text-align: center;">
				{{ sequence }} of 14
			</ons-col>
		</ons-row>
		<style type="text/css">
		.ui-progress-bar, .ui-progress-bar .ui-progress{
			height: 5px;
			border: none;
		}
		</style>

		
		
	</section>

</ons-page>