<ons-page>

	<form name="resetForm" ng-controller="ResetController" data-ng-init="init()">
	
	<div class="moon-back-container"><img src="img/moon-back.png" style="width: 100%" /></div>
  	<div class="logo-overlay-container"><img src="img/logo-overlay.png" style="width: 100%" /></div>

	<section class="content-section home">
	
	<h2 class="center">Reset</h2>
	<div class="form-message" style="font-size: 14.5px; margin-bottom: 10px; text-align: center; color: {{ form_message_color }}">{{ form_message }}</div>
	
	
	<input class="text-input" 
        ng-model="resetForm.username" 
        placeholder="Email Address"
        style="display: block; width: 100%; font-size: 24px; height: 40px;" required /> 
    <br />

	
	</section>

	<section class="controls-section">
		<ons-button 
			ng-click="submit()" modifier="large">
			Reset Password
		</ons-button>

		<div ons-if-orientation="portrait">
			<ons-row class="center">
				<ons-col><a href="#" style="text-decoration: underline" ng-click="ons.navigator.popPage()" >go back</a></ons-col>
			</ons-row>
		</div>
		
	</section>

	</form>

</ons-page>