<ons-page>
	<div class="blue-top-bar">
		<div class="menu-toggle" ng-click="app.menu.toggleMenu()">
	 		<i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
	 	</div>
		<div class="top-center-image"><img class="moon-top" src="img/moon-top.png" /></div>
	</div>

		<ons-scroller style="height: 94vh; width: 100%">
	
		<div class="moon-back-container"><img src="img/moon-back.png" style="width: 100%" /></div>
	  	<div class="logo-overlay-container"><img src="img/logo-overlay.png" style="width: 100%" /></div>	
		<form ng-controller="ResultsController">
			
			<section class="results content-section">
				<div class="prog-header">
					<div ng-show="prognosis == 'positive'">POSITIVE RESULT</div>
					<div ng-show="prognosis == 'negative'">NEGATIVE RESULT</div>
				</div>

				<div class="top_results_block">
				<div>Name: {{ profile_name }}</div>
				<div>Gender: {{ gender }}</div>
				<div>Date of test: {{ date_time }}</div>

				<div ng-show="prognosis == 'positive'">Your child may have sleep apnea.</div>
				<div ng-show="prognosis == 'negative'">Your child may not have sleep apnea.</div>

				<div>Based on your answers to this quiz, </div>

				<div>{{ profile_name }}...</div>
				</div>

				<div ng-repeat="category in response_categories">
					<div class="category_response_block" ng-class-odd="'odd'" ng-class-even="'even'">
						<img ng-src="img/{{ category.category_image }}" class="category_image" />
						<div ng-repeat="response in category.responses">
							<div style="margin-bottom: 8px;">{{ response.question_text }}</div>
						</div>
					</div>
				</div>

				<div class="also-has">
					Also, {{ profile_name }} ...
				</div>
				<div ng-repeat="child_cond in child_conditions">
					<div style="margin-bottom: 8px;">{{ child_cond }}</div>
				</div>

			</section>
			<section class="results controls-section">
			  <div class="green_button_container">
			  	<ons-button modifier="large--cta" ng-click="ons.navigator.pushPage('email_results.html')">Email Results to Me</ons-button> 
			  </div>
			  <div>
			  	<ons-button modifier="large" ng-click="ons.navigator.resetToPage('profile_list.html')">Back To Profiles</ons-button> 
			  </div>			        
		    </section>

		</form>
		
		</ons-scroller>

</ons-page>